<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic similique, omnis, nemo impedit fuga dolore aliquid a incidunt repellat inventore maiores quo cupiditate vel iusto assumenda sint, ipsum sit rem!</p>
<h4>handlebars</h4>
<button id="btn">traer usuarios</button>

<form id="user-form">
    <div>
        <input type="text" placeholder="nombre. Ej: Matias">
    </div>
    <button>crear</button>
</form>

